### Python Collections (Arrays)
There are four collection data types in the Python programming language:

- **List** is a collection which is ordered and changeable. Allows duplicate members.
- **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
- **Set** is a collection which is unordered, **unchangeable**, and unindexed. No duplicate members.
- **Dictionary** is a collection which is ordered and **changeable**. No duplicate members.

> Set items are unchangeable, but you can remove and/or add items whenever you like. 

> As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered

---
# Python Lists
Lists are used to store multiple items in a single variable.
Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
Lists are created using square brackets:

In [75]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

### Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

> Note: There are some list methods that will change the order, but in general: the order of the items will not change.

### Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

### Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [76]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

### List Length
To determine how many items a list has, use the `len()` function:

In [77]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### List Items - Data Types
List items can be of any data type:

In [78]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

**A list can contain different data types :**

In [79]:
list1 = ["abc", 34, True, 40, "male"]

### type()
From Python's perspective, lists are defined as objects with the data type 'list':

`<class 'list'>`

In [80]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

### The list() Constructor
It is also possible to use the `list()` constructor when creating a new list.

In [81]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

### Access List Items
List items are indexed and you can access them by referring to the index number:
> Note: The first item has index 0

In [82]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

### Negative Indexing
Negative indexing means start from the end

`-1` refers to the last item, `-2` refers to the second last item etc.

In [83]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])
print(thislist[-2])
print(thislist[-3])

cherry
banana
apple

### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [84]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
# Note: The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:

In [85]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [86]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

### Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

In [87]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

### Check if Item Exists
To determine if a specified item is present in a list use the `in` keyword:

In [88]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
else:
  print("No,`apple` is not in the fruits list")

Yes, 'apple' is in the fruits list

### Change Item Value
To change the value of a specific item, refer to the index number:

In [89]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

### Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [90]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

> Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

In [91]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [92]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

### Insert Items
To insert a new list item, without replacing any of the existing values, we can use the `insert()` method.

The `insert()` method inserts an item at the specified index:

In [93]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

### Append Items
To add an item to the end of the list, use the `append()` method:

In [94]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### Extend List
To append elements from another list to the current list, use the `extend()` method.

**The elements will be added to the end of the list.**

In [95]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Add Any Iterable
The `extend()` method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [96]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

### Remove Specified Item
The `remove()` method removes the specified item.

In [97]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the `remove()` method removes the first occurrence:

In [98]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

### Remove Specified Index
The `pop()` method removes the specified index.

In [99]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the `pop()` method removes the last item.

In [100]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The `del` keyword also removes the specified index:

In [101]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The `del` keyword can also delete the list completely:

In [102]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

### Clear the List
The `clear()` method empties the list.

The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Loop Lists
### Loop Through a List
You can loop through the list items by using a `for` loop:

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

### Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable.
> The iterable created in the example below is [0, 1, 2].

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

### Using a While Loop
You can loop through the list items by using a `while` loop.

Use the `len()` function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

### Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

### List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### The Syntax
`newlist = [expression for item in iterable if condition == True]`

The return value is a new list, leaving the old list unchanged.

### Condition
The condition is like a filter that only accepts the items that valuate to `True`

In [ ]:
newlist = [x for x in fruits if x != "apple"]

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be **omitted**:

In [ ]:
newlist = [x for x in fruits]

### Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

In [ ]:
# You can use the range() function to create an iterable
newlist = [x for x in range(10)]
# Same example, but with a condition:
newlist = [x for x in range(10) if x < 5]

### Expression

The `expression` is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [ ]:
newlist = [x.upper() for x in fruits]
newlist = ['hello' for x in fruits]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [ ]:
newlist = [x if x != "banana" else "orange" for x in fruits]
# The expression in the example above says: "Return the item if it is not banana, if it is banana return orange".

### Sort List Alphanumerically
List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

### Sort Descending
To sort descending, use the keyword argument `reverse = True`:

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

### Customize Sort Function
You can also customize your own function by using the keyword argument `key = function`

The function will return a number that will be used to sort the list (the lowest number first):

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

### Case Insensitive Sort
By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use `str.lower` as a key function:

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

### Reverse Order
What if you want to reverse the order of a list, regardless of the alphabet?

The `reverse()` method reverses the current sorting order of the elements.

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

### Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a **reference** to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method `copy()`

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method `list()`

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

### Join Two Lists
There are several ways to join, or **concatenate**, two or more lists in Python.

One of the easiest ways are by using the `+` operator:

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by **appending** all the items from list2 into list1, one by one:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the `extend()` method, where the purpose is to add elements from one list to another list:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### List Methods

|   Method  |   Description |
|   ---     |   --- |
|   append()| Adds an element at the end of the list    |
|   clear() |Removes all the elements from the list   |
|   copy()	|Returns a copy of the list |
|   count()	|Returns the number of elements with the specified value    |
|   extend()|Add the elements of a list (or any iterable), to the end of the current list   |
|   index()	|Returns the index of the first element with the specified value    |
|   insert()|Adds an element at the specified position  |
|   pop()	|Removes the element at the specified position  |
|   remove()|Removes the item with the specified value  |
|   reverse()|Reverses the order of the list    |
|   sort()  |Sorts the list |

---
# Python Tuples
Tuples are used to store multiple items in a single variable.

A **tuple** is a **collection** which is **ordered** and **unchangeable**.

Tuples are written with round brackets `()`

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

### Tuple Items
Tuple items are **ordered**, **unchangeable**, and allow **duplicate** values.

Tuple items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

### Ordered
When we say that tuples are **ordered**, it means that the items have a defined order, and that order **will not change**.

### Unchangeable
Tuples are **unchangeable**, meaning that we **cannot change, add or remove items after the tuple has been created**.

### Allow Duplicates
Since tuples are **indexed**, they can have items with the **same value**:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

### Tuple Length
To determine how many items a tuple has, use the **len()** function:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

### Create Tuple With One Item
To create a tuple with only one item, you have to add a **comma** `,` after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### Tuple Items - Data Types
Tuple items can be of any data type:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

A tuple can contain **different** data types:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

From Python's perspective, tuples are defined as objects with the data type **'tuple'**:

`<class 'tuple'>`

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

### The `tuple()` Constructor
It is also possible to use the `tuple()` constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

### Access Tuple Items
You can access tuple items by referring to the **index** number, inside **square brackets** `[...]`:

> Note: The first item has index 0

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc ...

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

### Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a **new tuple** with the specified items.

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

By leaving out the start value, the range will start at the **first** item:

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

By leaving out the end value, the range will go on to the **end** of the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

### Range of Negative Indexes
Specify negative indexes if you want to start the search from the **end** of the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

### Check if Item Exists
To determine if a specified item is present in a tuple use the `in` keyword:

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

### Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are **unchangeable**, or **immutable** as it also is called.

But there is a workaround. **You can convert the tuple into a list, change the list, and convert the list back into a tuple**.

In [ ]:
x = ("apple", "banana", "cherry")
print(x)

y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'banana', 'cherry')
('apple', 'kiwi', 'cherry')

### Add Items
Since tuples are **immutable**, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. **Convert into a list**: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')

 2. **Add tuple to a tuple**: You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:
 > Note: When creating a tuple with only one item, remember to include a comma `,` after the item, otherwise it will not be identified as a tuple.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')

### Remove Items
> Note: You cannot remove items in a tuple

Tuples are **unchangeable**, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
('banana', 'cherry')

Or you can delete the tuple completely:

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

### Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called **packing** a tuple.

But, in Python, we are also allowed to extract the values back into variables. This is called **unpacking**:

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

> Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

### Using Asterisk `*`
If the number of variables is less than the number of values, you can add an `*` to the variable name and the values will be assigned to the variable as a list:

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, **Python will assign values to the variable until the number of values left matches the number of variables left** :

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### Loop Through a Tuple
You can loop through the tuple items by using a `for` loop :

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

### Loop Through the Index Numbers
You can also loop through the tuple items by referring to their index number.

Use the `range()` and `len()` functions to create a suitable iterable :

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

### Using a While Loop
You can loop through the tuple items by using a `while` loop.

Use the `len()` function to determine the length of the tuple, then start at `0` and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by `1` after each iteration.

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

### Join Two Tuples
To join two or more tuples you can use the `+` operator :

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the `*` operator:

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

###

### Tuple Methods
|   Method  |   Description |
|   ---     |   --- |
|   count() |   Returns the number of times a specified value occurs in a tuple |
|   index() |	Searches the tuple for a specified value and returns the position of where it was found |